.homeCont {
  position: relative;
}

.wrapper {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.587);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
